/* Panels */
.panel {
  background: $panel-background-color;
  border: $panel-border;
  padding: 10px !important;
}

.sub-grid table {
  width: 100%;
}

.sub-grid td.sub-columns {
  padding-bottom: 0;
}